# Server configuration
PORT=3000

# MongoDB Atlas Connection URI
# Example: mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/my-ecommerce-business?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://your-username:your-password@your-cluster.mongodb.net/my-ecommerce-business?retryWrites=true&w=majority
